<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre mi</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header class="header">
        <nav class="header__menu">
          <a class="header__menu__link" href="../index.html">Home</a>
          <a class="header__menu__link" href="about.html">Sobre mi</a>
          <a class="header__menu__link" href="cv.html"> Curriculum</a>
        </nav>
      </header>
    <main class="presentacion">
        <section class="presentacion__seccion">
            <h1 class="presentacion__seccion__titulo">Sobre mi</h1>
                <p class="presentacion__seccion__texto">
                    Soy Luis Felipe Diaz Cabana, un estudiante apasionado por el desarrollo front-end.
                    Aunque estoy en las primeras etapas de mi carrera, ya he desarrollado una fuerte afinidad por la creación de sitios web y aplicaciones que no solo sean estéticamente agradables, sino también fáciles de usar.
                    Mi viaje en el mundo del desarrollo web comenzó con mis estudios, donde he tenido la oportunidad de trabajar en diversos proyectos académicos.
                    Estos proyectos me han permitido aplicar mis conocimientos en HTML, CSS y JavaScript, y empezar a explorar frameworks modernos que son esenciales en la industria.

                </p>
                   
                <p class="presentacion__seccion__texto">
                Con un fuerte conocimiento en HTML, CSS y JavaScript, estoy continuamente expandiendo mi experiencia en frameworks modernos y metodologías ágiles.
                Fuera del mundo digital, me gusta las peliculas, los video juegos, musica y lectura, lo que me ayuda a mantenerme creativo y motivado.
                Estoy emocionado por seguir aprendiendo y creciendo como desarrollador, y espero con interés las oportunidades futuras para colaborar en proyectos innovadores.
                Gracias por conocerme y visitar mi sitio web. Estoy ansioso por lo que el futuro depara y espero poder contribuir a tu próximo proyecto.

                </p>
        </section>
        <img class="foto__biografia"src="/assets/foto fondo color.png" alt="foto personal" />  
    </main>
    <footer class="footer">
        <p>&copy; 2024 Luis Felipe Diaz Cabana. Todos los derechos reservados.</p>
    </footer>    
</body>
</html>
