<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum</title>
    <link rel="stylesheet" href="/styles/cv_style.css">
</head>
    <body>
        <header class="header">
            <nav class="header__menu">
                <a class="header__menu__link" href="../index.html">Home</a>
                <a class="header__menu__link" href="about.html">Sobre mi</a>
                <a class="header__menu__link" href="cv.html"> Curriculum</a>
            </nav>
        </header>
        <div class="div"><h1 class="cv__titulo"><strong>Mi hoja de vida </strong></h1> </div>            
                <main class="cv">                                           
                            <section class=" cv__sesion">   
                                <h2 class="cv__sesion__titulo"><strong>Educacion</strong></h2>                         
                                    <ul class="cv__lista" type="square">
                                        <li class="cv__item">
                                            <strong>Tecnico en Sistemas | 2012 - 2013</strong>
                                            <p>Servicio Nacional de Aprendizaje Sena</p>  
                                        </li> 
                                        <li class="cv__item">
                                            <strong>Tecnologo en Redes de Datos | 2014 - 2016</strong>
                                            <p>Servicio Nacional de Aprendizaje Sena</p>
                                        </li>
                                        <li class="cv__item">
                                            <strong>Ingenieria de Software | 2021 - Cursando</strong>
                                            <p>Universidad de Cartagena</p>
                                        </li>
                                </ul>                               
                                
                                <img class="img__cv" src="/assets/vista-frontal-libros-apilados-gorro-graduacion-escaleras-dia-educacion.png" alt="imagen de libros">                                                                  
                            </section>

                            <section class="cv__sesion">
                                <h2 class="cv__sesion__titulo">Habilidades tecnicas</h2>                             
                                    <ul class="cv__lista" type="square">                                       
                                            <li class="cv__item">
                                                <strong>Lenguajes</strong>
                                                <p>Java - JavaScript</p>
                                            </li>
                                            <li class="cv__item">
                                                <strong>Arquitectura</strong>
                                                <p>MVC - Monolito - Rest</p>
                                            </li>
                                            <li class="cv__item">
                                                <strong>Metodologia Agil</strong>
                                                <p>Scrum</p>
                                            </li>
                                            <li class="cv__item">
                                                <strong>Control de versiones</strong>
                                                <p>Git - GitHub - GitLab</p>
                                            </li>
                                            <li class="cv__item">
                                                <strong>Administracion</strong>
                                                <p>Amazon Web Services</p>
                                            </li>
                                            <li class="cv__item">
                                                <strong>Framework</strong>
                                                <p>SpringBoot - Bootstrap - React</p>
                                            </li>
                                            <li class="cv__item">
                                                <strong>Bases de datos</strong>
                                                <p>MySQL - PostgreSQL</p>
                                            </li>
                                    </ul>
                                    <img class="img__cv" src="/assets/Tecnologias.PNG" alt="imagen de skill tecnicas">  
                            
                                </section>
                            
                            <section class="cv__sesion">
                                <h2 class="cv__sesion__titulo">Habilidades blandas</h2>
                                <ul type="square" class="cv__lista">
                                    <li class="cv__item">Comunicacion asertiva</li>
                                    <li class="cv__item">Trabajo en equipo</li>
                                    <li class="cv__item">Aprendizaje continuo</li>
                                    <li class="cv__item">Adaptabilidad a cambios</li>                                    
                                </ul>
                                <img class="img__cv" src="/assets/colegas-discutiendo-nuevas-ideas-reunion-negocios.png" alt="personas conversando">
                            </section>     
                                       
                </main>
        <footer class="footer"><p>&copy; 2024 Luis Felipe Diaz Cabana. Todos los derechos reservados.</p></footer>
    </body>
</html>